{% extends "base.html" %}

{% block page_title %}
  Список фильмов
{% endblock page_title %}

{% block title %}
  Список фильмов
{% endblock title %}

{% block delete_buttons_block %}
  <form action="{% url 'delete_films' %}" method="post" id="delete-selected-form">
    {% csrf_token %}
    <button type="submit" class="custom_button delete_button" onclick="return confirm('Удалить выбранные фильмы?')">
      Удалить выбранные
    </button>
  </form>
  <form action="{% url 'delete_all_films' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="custom_button delete_button" onclick="return confirm('Удалить все фильмы?')">
      Удалить все фильмы
    </button>
  </form>
{% endblock delete_buttons_block %}

{% block media_block %}
  {% for film in films %}
    <div class="media_block">
      <div class="media_info">
        <span><strong>ID:</strong> {{ film.search_id }}</span>
        <span><strong>Название:</strong> {{ film.title }}</span>
        <span><strong>Дата выхода:</strong> {{ film.release_date|date:"Y" }}</span>
      </div>
      <div class="media_actions">
        <input type="checkbox" name="media_ids" value="{{ film.id }}" form="delete-selected-form">
      </div>
    </div>
  {% endfor %}
{% endblock media_block %}

{% block parse_media_block %}
  <form action="{% url "parse_films" %}" method="post">
    {% csrf_token %}
    {% include "admin_page_components/parse_media_content_block.html" with title_text="Парсинг фильмов" %}
  </form>
{% endblock parse_media_block %}