<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Список фильмов</title>
</head>
<body>
    <div class="films_container">
        <h1>Список фильмов</h1>
        {% for film in films %}
        <form action="{% url 'delete_film' %}" method="post">
            <div class="film_block" style="margin-bottom: 20px; border: 1px solid #ddd;">
                {% csrf_token %}
                {% comment %} <img src="{{film.img_path}}" alt=""> {% endcomment %}
                <input type="hidden" name="film_id" value="{{ film.id }}">
                <span><strong>ID:</strong> {{ film.search_id }}</span>
                <span><strong>Название:</strong> {{ film.title }}</span>
                <span><strong>Дата выхода:</strong> {{ film.release_date|date:"Y" }}</span>
                
                <button type="submit" class="delete-btn" onclick="return confirm('Вы уверены, что хотите удалить этот фильм?')">
                    Удалить фильм
                </button>
            </div>
        </form>
        {% endfor %}
    </div>
    <div class="admin_container">
        <div class="parse_films_block">
            <form action="{% url "parse_films" %}" method="post">
                {% csrf_token %}
                <div class="content">
                    <h1>Парсинг фильмов</h1>
                    <input type="text" placeholder="С какой страницы начать" name="start_page">
                    <input type="text" placeholder="Какой страницей закончить" name="end_page">
                    <p><input type="checkbox" name="vpn_is_connected"><span>VPN включен?(нужен для парсинга)</span></p>
                    <p><input type="checkbox" name="delete_jsons"><span>Удалить временные json файлы?</span></p>
                    <p><input type="checkbox" name="update_db"><span>Занести данные в таблицу</span></p>
                    <select name="upgraded_field" id="field-select">
                        <option value="">Выберите поля в которых нужно обновить информацию</option>
                        {% for field in upgraded_fields %}
                            <option value="{{field}}">{{field}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="parse" onclick="return confirm('Начать?')">Начать</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>