{% extends "base.html" %}
{% load static %}

{% block page_title %}
  Список сериалов
{% endblock page_title %}

{% block title %}
  Список сериалов
{% endblock title %}

{% block delete_buttons_block %}
  <form action="{% url 'delete_serials' %}" method="post" id="delete-selected-form">
    {% csrf_token %}
    <button type="submit" class="custom_button delete_button" onclick="return confirm('Удалить выбранные сериалы?')">
      Удалить выбранные
    </button>
  </form>
  <form action="{% url 'delete_all_serials' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="custom_button delete_button" onclick="return confirm('Удалить все сериалы?')">
      Удалить все сериалы
    </button>
  </form>
{% endblock delete_buttons_block %}

{% block media_block %}
  {% for serial in serials %} 
    <div class="media_block">
      <div class="media_info">
        <span><strong>ID:</strong> {{ serial.search_id }}</span>
        <span><strong>Название:</strong> {{ serial.title }}</span>
        <span><strong>Дата выхода:</strong> {{ serial.first_air_date|date:"Y" }}</span>
      </div>
      <div class="media_actions">
        <input type="checkbox" name="media_ids" value="{{ serial.id }}" form="delete-selected-form">
      </div>
    </div>
  {% endfor %}
{% endblock media_block %}

{% block parse_media_block %}
  <form action="{% url "parse_serials" %}" method="post">
    {% csrf_token %}
    {% include "admin_page_components/parse_media_content_block.html" with title_text="Парсинг сериалов" media_type="serials"%}
  </form>
{% endblock parse_media_block %}

{% block page %}
  <div class="invisible_block">
    <input type="hidden" name="next" value="{{ request.path }}" form="clear_messages">
  </div>
{% endblock page %}

{% block filter_block %}
<div class="filter_content">
  <div>
    <input type="text" placeholder="Поиск по id">
  </div>
  <div>
    <input type="text" placeholder="Поиск по названию">
  </div>
  <div>
    <span>Впервые в эфире</span>
    <input type="range">
  </div>
  <div>
    <span>Закончили свой сериал</span>
    <input type="range">
  </div>
  <div>
    <span>Колличество эпизодов</span>
    <input type="range">
  </div>
  <div>
    <span>Колличество сезонов</span>
    <input type="range">
  </div>
  <div>
    <span>Вышел ли сериал</span>
    <input type="checkbox">
  </div>
  <div>
    <span>Рейтинг</span>
    <input type="range">
  </div>
  <div>
    <span>Жанры(тут будет выпадающий список)</span>
  </div>
</div>
{% endblock filter_block %}