<div class="actions-section-item filter-section">
  <h2 class="filter-title">Фильтр</h2>
  <form class="filter-form" id="filterForm" action="{% url 'actors' %}" method="get">
    <div class="filter-group">
      <input
        type="text"
        class="filter-input"
        placeholder="Поиск по id"
        name="id"
        value="{{ filter_values.id }}"
      />
    </div>

    <div class="filter-group">
      <input
        type="text"
        class="filter-input"
        placeholder="Поиск по search_id"
        name="search_id"
        value="{{ filter_values.search_id }}"
      />
    </div>

    <div class="filter-group">
      <input
        type="text"
        class="filter-input"
        placeholder="Поиск по имени"
        name="name_search"
        value="{{ filter_values.name_search }}"
      />
    </div>

    <div class="filter-group">
      <label class="filter-label">Дата рождения</label>
      <div class="range-inputs">
        <input
          type="date"
          class="filter-input"
          name="birthday_min"
          value="{{ filter_values.birthday_min }}"
        />
        <input
          type="date"
          class="filter-input"
          name="birthday_max"
          value="{{ filter_values.birthday_max }}"
        />
      </div>
    </div>

    <div class="filter-group">
      <label class="filter-label">Дата смерти</label>
      <div class="range-inputs">
        <input
          type="date"
          class="filter-input"
          name="deathday_min"
          value="{{ filter_values.deathday_min }}"
        />
        <input
          type="date"
          class="filter-input"
          name="deathday_max"
          value="{{ filter_values.deathday_max }}"
        />
      </div>
    </div>

    <div class="filter-group">
      <label class="filter-label">Пол</label>
      <div class="select-wrapper">
        <select class="filter-select" name="gender">
          <option value="">Все</option>
          <option value="1" {% if filter_values.gender == "1" %}selected{% endif %}>Женский</option>
          <option value="2" {% if filter_values.gender == "2" %}selected{% endif %}>Мужской</option>
          <option value="0" {% if filter_values.gender == "0" %}selected{% endif %}>Не указан</option>
        </select>
      </div>
    </div>

    <div class="filter-group">
      <input
        type="text"
        class="filter-input"
        placeholder="Название проекта в котором участвовал(а)"
        name="project_search"
        value="{{ filter_values.project_search }}"
      />
    </div>

    <div class="filter-group" style="display: flex; flex-direction: row; align-items: center;">
        <div class="checkbox-block">
            <input type="checkbox" name="is_parsed" {% if filter_values.is_parsed %}checked{% endif %}>
        </div>
        <label class="filter-label" style="margin-bottom: 0;">Объект добавлен</label>
    </div>

    <div class="filter-group" style="display: flex; flex-direction: row; align-items: center;">
        <div class="checkbox-block">
            <input type="checkbox" name="is_not_parsed" {% if filter_values.is_not_parsed %}checked{% endif %}>
        </div>
        <label class="filter-label" style="margin-bottom: 0;">Объект не добавлен</label>
    </div>

    <button type="submit" class="submit-btn">Применить фильтры</button>
    <button type="button" class="reset-btn" id="resetFilters">
      Сбросить
    </button>
  </form>
</div>