<div class="content">
  <div class="title_block">
    {{title_text}}
  </div>

  <div class="input_block checkbox_type">
    <label>VPN включен(нужен для парсинга)</label>
    <div class="custom_checkbox">
      <input type="checkbox" name="vpn_is_connected" id="vpn_connected">
      <label for="vpn_connected" class="checkbox_visual">
        <i class="fa-solid fa-check"></i>
      </label>
    </div>
  </div>

  <div class="input_block text_type">
    <label>С какой страницы начать</label>
    <input type="text" placeholder="" name="start_page" id="start_page" autocomplete="off" maxlength="3">
  </div>

  <div class="input_block text_type">
    <label>Какой страницей закончить</label>
    <input type="text" placeholder="" name="end_page" id="end_page" autocomplete="off" maxlength="3">
  </div>

  <button type="submit" class="custom_button continue_button">Начать</button>

</div>