<div class="content">
  <div class="title_block">
    Обновление информации
  </div>
  <div class="input_block checkbox_type">
    <label>VPN включен?(нужен для парсинга)</label>
    <div class="custom_checkbox">
      <input type="checkbox" name="vpn_is_connecteD" id="vpn_is_connecteD">
      <label for="vpn_is_connecteD" class="checkbox_visual">
        <i class="fa-solid fa-check"></i>
      </label>
    </div>
  </div>
  <div class="input_block checkbox_type">
    <label>Скачать постеры</label>
    <div class="custom_checkbox">
      <input type="checkbox" name="should_download_images" id="should_download_images">
      <label for="should_download_images" class="checkbox_visual">
        <i class="fa-solid fa-check"></i>
      </label>
    </div>
  </div>
  <div class="input_block checkbox_type">
    <label>Обновить локальные пути к картинкам</label>
    <div class="custom_checkbox">
      <input type="checkbox" name="update_local_img_path" id="update_local_img_path">
      <label for="update_local_img_path" class="checkbox_visual">
        <i class="fa-solid fa-check"></i>
      </label>
    </div>
  </div>
  <button type="submit" class="custom_button continue_button" onclick="return confirm('Начать?')">Начать</button>
</div>