<!DOCTYPE html>
{% load static %}

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieMarks</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static "main/css/base.css" %}">
    {% block css %}{% endblock css %}
    <script>
      const themeToggles = document.querySelectorAll('#themeToggle');
      const currentTheme = localStorage.getItem('theme') || 'light';
      const bodyTeg = document.body;
      
      document.documentElement.setAttribute('data-theme', currentTheme);

      themeToggles.forEach(themeToggle => {  
          themeToggle.addEventListener('click', () => {
              const currentTheme = document.documentElement.getAttribute('data-theme');
              const newTheme = currentTheme === 'light' ? 'dark' : 'light';
              
              document.documentElement.setAttribute('data-theme', newTheme);
              localStorage.setItem('theme', newTheme);
          });   
      });
    </script>
  </head>
  <body>
    <header id="header">
      <div class="pc-content">
        <a href="{% url "mainPage" %}" class="logo">MovieMarks</a>
        {% block header_nav %}{% endblock header_nav %}
        <div class="header-controls">
          <div class="theme-toggle" id="themeToggle"></div>
          {% if request.user.is_authenticated %}
            {% block auth_header_profile_url%}{% endblock auth_header_profile_url %}
          {% else %}
            {% block not_auth_header_profile_url %}{% endblock not_auth_header_profile_url %}
          {% endif %}
        </div>
      </div>
      <div class="phone-content">
        <a href="{% url "mainPage" %}" class="logo">MovieMarks</a>
        <div class="sidebar">
          <div class="header-controls">
            {% if request.user.is_authenticated %}
              {% block auth_sidebar_profile_url %}{% endblock auth_sidebar_profile_url %}
            {% else %}
              {% block not_auth_sidebar_profile_url %}{% endblock not_auth_sidebar_profile_url %}
            {% endif %}
          </div>
          {% block sidebar_nav %}{% endblock sidebar_nav %}
        </div>
        <div class="main-buttons">
          <div class="theme-toggle" id="themeToggle"></div>
          <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </header>

    <main>
      {% block main_content %}{% endblock main_content %}
    </main>

    <footer>
      <div class="footer-content">
        <div class="footer-section">
          <span class="footer-title">О нас</span>
          <p>
            MovieMarks - это ваш надежный гид в мире кино и сериалов. Мы
            помогаем находить и сохранять лучший контент.
          </p>
          <div class="social-links">
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="footer-section">
          <h3>
            <span class="footer-title">Навигация</span>
          </h3>
          <ul class="footer-links">
            <li><a href="{% url "mainPage" %}">Главная</a></li>
            <li><a href="{% url "filmsPage" %}">Фильмы</a></li>
            <li><a href="{% url "serialsPage" %}">Сериалы</a></li>
            <li><a href="{% url "actorsPage" %}">Актеры</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3><span class="footer-title">Помощь</span></h3>
          <ul class="footer-links">
            <li><a href="#">Обратная связь</a></li>
            <li><a href="#">Политика конфиденциальности</a></li>
            <li><a href="#">Условия использования</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>&copy; 2023 MovieMarks. Все права защищены.</p>
      </div>
    </footer>
    {% block script %}{% endblock script %}
  </body>
</html>
