{% extends "main/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "main/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "main/css/base.css" %}">
  <link rel="stylesheet" href="{% static "main/css/index.css" %}">
  <link rel="stylesheet" href="{% static "main/css/user-avatar.css" %}">
{% endblock css %}

{% block script %}
  <script src="{% static "main/js/base.js" %}"></script>
  <script src="{% static "main/js/index.js" %}"></script>
{% endblock script %}

{% block header_nav %}
  {% include "main/partials/main_header_nav.html" %}
{% endblock %}

{% block sidebar_nav %}
  {% include "main/partials/main_header_nav.html" %}
{% endblock %}

{% block auth_header_profile_url %}
  {% include "main/partials/auth_profile_url_block.html" %} 
{% endblock auth_header_profile_url %}

{% block not_auth_header_profile_url %}
  <a class="auth-btn" href="{% url "authPage" %}">Войти</a>
{% endblock not_auth_header_profile_url %}

{% block auth_sidebar_profile_url %}
  {% include "main/partials/auth_profile_url_block.html" %} 
{% endblock auth_sidebar_profile_url %}

{% block not_auth_sidebar_profile_url %}
  <a class="auth-btn" href="{% url "authPage" %}">Войти</a>
{% endblock not_auth_sidebar_profile_url %}

{% block main_content %}
  <section class="hero">
    <h1>Откройте для себя мир кино</h1>
    <p>
      Тысячи фильмов и сериалов в одной подборке. Находите новое, сохраняйте
      любимое, делитесь впечатлениями.
    </p>
    <div class="search_block">
      <form action="{% url "searchPage" %}" method="post" class="search-form">
        {% csrf_token %}
        <input name="search" type="text" placeholder="Поиск фильма, сериала, актера..." />
        <button class="search_btn" type="submit">Поиск</button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </form>
    </div>
  </section>

  <div class="content">
    
    <section class="section section1">
      {% if films|length > 0 %}
        <h2 class="section-title">Популярные фильмы</h2>
        <div class="cards-carousel">
          {% for film in films %}
            <a href="{% url 'itemPage' types.film film.search_id %}">
              <div class="card">
                <div class="card-img">
                  {% if film.local_img_path == "" %}
                    <i class="fas fa-film"></i>
                  {% else %}
                    <img src="{{film.local_img_path.url}}" alt="{{ film.title }}">
                  {% endif %}
                </div>
                <div class="card-content">
                  <h3 class="card-title">{{film.title}}</h3>
                  <p class="card-meta">{{ film.release_date|date:"Y" }} • {{film.genres}}</p>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </section>
    <section class="section section2">
      {% if serials|length > 0 %}
        <h2 class="section-title">Новые сериалы</h2>
        <div class="cards-carousel">
        {% for serial in serials %}
          <a href="{% url "itemPage" types.serial serial.search_id%}">
            <div class="card">
              <div class="card-img">
                {% if serial.local_img_path == "" %}
                  <i class="fas fa-film"></i>
                {% else %}
                  <img src="{{serial.local_img_path.url}}" alt="{{ serial.title }}">
                {% endif %}
              </div>
              <div class="card-content">
                <h3 class="card-title">{{serial.title}}</h3>
                <p class="card-meta">{{ serial.first_air_date|date:"Y" }}-{{ serial.last_air_date|date:"Y" }} • {{serial.genres}}</p>
              </div>
            </div>
          </a>
        {% endfor %}
        </div>
      {% endif %}
    </section>
    <section class="section section3">
      {% if coming_soon_films|length > 0 or coming_soon_serials|length > 0 %}
      <h2 class="section-title">Скоро выйдет</h2>
      <div class="cards-carousel">
        {% for film in coming_soon_films %}
          <a href="{% url 'itemPage' types.film film.search_id %}">
            <div class="card">
              <div class="card-img">
                {% if film.local_img_path == "" %}
                  <i class="fas fa-film"></i>
                {% else %}
                  <img src="{{film.local_img_path.url}}" alt="{{ film.title }}">
                {% endif %}
              </div>
              <div class="card-content">
                <h3 class="card-title">{{film.title}}</h3>
                <p class="card-meta">{{ film.release_date|date:"Y" }} • {{film.genres}}</p>
              </div>
            </div>
          </a>
        {% endfor %}
        {% for serial in coming_soon_serials %}
          <a href="{% url "itemPage" types.serial serial.search_id%}">
            <div class="card">
              <div class="card-img">
                {% if serial.local_img_path == "" %}
                  <i class="fas fa-film"></i>
                {% else %}
                  <img src="{{serial.local_img_path.url}}" alt="{{ serial.title }}">
                {% endif %}
              </div>
              <div class="card-content">
                <h3 class="card-title">{{serial.title}}</h3>
                <p class="card-meta">{{ serial.first_air_date|date:"Y" }}-{{ serial.last_air_date|date:"Y" }} • {{serial.genres}}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      {% endif %}
    </section>
  </div>
{% endblock main_content %}