{% extends "main/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "main/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "main/css/base.css" %}">
  <link rel="stylesheet" href="{% static "main/css/index.css" %}">
{% endblock css %}

{% block script %}
  <script src="{% static "main/js/base.js" %}"></script>
  <script src="{% static "main/js/index.js" %}"></script>
{% endblock script %}

{% block header_nav %}
  <nav>
    <ul>
      <li><a href="{% url "filmsPage" %}">Фильмы</a></li>
      <li><a href="{% url "serialsPage" %}">Сериалы</a></li>
      <li><a href="{% url "actorsPage" %}">Актеры</a></li>
      {% if request.user.is_superuser %}
      <li><a href="{% url "adminPanel" %}">Админ панель</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock header_nav %}

{% block sidebar_nav %}
  <nav>
    <ul>
      <li><a href="{% url "filmsPage" %}">Фильмы</a></li>
      <li><a href="{% url "serialsPage" %}">Сериалы</a></li>
      <li><a href="{% url "actorsPage" %}">Актеры</a></li>
      {% if request.user.is_superuser %}
      <li><a href="{% url "adminPanel" %}">Админ панель</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock sidebar_nav %}

{% block auth_header_profile_url %}
  <a href="{% url "profilePage" %}">
    <div class="profile-block">
      <span>{{username}}</span>
      <div class="profile-icon">
        <i class="fa-solid fa-circle-user"></i>
      </div>
    </div>
  </a>
{% endblock auth_header_profile_url %}

{% block not_auth_header_profile_url %}
  <a class="auth-btn" href="{% url "authPage" %}">Войти</a>
{% endblock not_auth_header_profile_url %}

{% block auth_sidebar_profile_url %}
  <a href="{% url "profilePage" %}">
    <div class="profile-block">
      <span>{{username}}</span>
      <div class="profile-icon">
        <i class="fa-solid fa-circle-user"></i>
      </div>
    </div>
  </a>
{% endblock auth_sidebar_profile_url %}

{% block not_auth_sidebar_profile_url %}
  <a class="auth-btn" href="{% url "authPage" %}">Войти</a>
{% endblock not_auth_sidebar_profile_url %}

{% block main_content %}
  <section class="hero">
    <h1>Откройте для себя мир кино</h1>
    <p>
      Тысячи фильмов и сериалов в одной подборке. Находите новое, сохраняйте
      любимое, делитесь впечатлениями.
    </p>
    <div class="search_block">
      <form action="{% url "searchPage" %}" method="post" class="search-form">
        {% csrf_token %}
        <input name="search" type="text" name="submit" placeholder="Поиск фильма, сериала, актера..." />
        <button class="search_btn" type="submit">Поиск</button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </form>
    </div>
  </section>

  <div class="content">
    
    <section class="section section1">
      {% if films|length > 0 %}
        <h2 class="section-title">Популярные фильмы</h2>
        <div class="cards-carousel">
          {% for film in films %}
            <a href="{% url "itemPage" %}">
              <div class="card">
                <div class="card-img">
                  {% if film.local_img_path == "" %}
                    <i class="fas fa-film"></i>
                  {% else %}
                    <img src="{% static 'images/films/' %}{{ film.search_id }}.jpg" alt="{{ film.title }}">
                  {% endif %}
                </div>
                <div class="card-content">
                  <h3 class="card-title">{{film.title}}</h3>
                  <p class="card-meta">{{ film.release_date|date:"Y" }} • {{film.genres}}</p>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </section>
    <section class="section section2">
      {% if films|length > 0 %}
        <h2 class="section-title">Новые сериалы</h2>
        <div class="cards-carousel">
        {% for serial in serials %}
          <a href="{% url "itemPage" %}">
            <div class="card">
              <div class="card-img">
                {% if serial.local_img_path == "" %}
                  <i class="fas fa-film"></i>
                {% else %}
                  <img src="{% static 'images/serials/' %}{{ serial.search_id }}.jpg" alt="{{ serial.title }}">
                {% endif %}
              </div>
              <div class="card-content">
                <h3 class="card-title">{{serial.title}}</h3>
                <p class="card-meta">{{ serial.first_air_date|date:"Y" }}-{{ serial.last_air_date|date:"Y" }} • {{serial.genres}}</p>
              </div>
            </div>
          </a>
        {% endfor %}
        </div>
      {% endif %}
    </section>
    <section class="section section3">
      <h2 class="section-title">Скоро выйдет</h2>
      <div class="cards-carousel">
        <!-- Карточки предстоящих релизов -->
        <a href="">
          <div class="card">
            <div class="card-img">
              <i class="fas fa-star"></i>
            </div>
            <div class="card-content">
              <h3 class="card-title">Дюна: Часть вторая</h3>
              <p class="card-meta">2024 • Фантастика</p>
            </div>
          </div>
        </a>
        <div class="card">
          <div class="card-img">
            <i class="fas fa-star"></i>
          </div>
          <div class="card-content">
            <h3 class="card-title">Миссия невыполнима 8</h3>
            <p class="card-meta">2024 • Боевик</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <i class="fas fa-star"></i>
          </div>
          <div class="card-content">
            <h3 class="card-title">Джокер: Безумие на двоих</h3>
            <p class="card-meta">2024 • Триллер</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <i class="fas fa-star"></i>
          </div>
          <div class="card-content">
            <h3 class="card-title">Гадкий я 4</h3>
            <p class="card-meta">2024 • Мультфильм</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <i class="fas fa-star"></i>
          </div>
          <div class="card-content">
            <h3 class="card-title">Форсаж 11</h3>
            <p class="card-meta">2024 • Боевик</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <i class="fas fa-star"></i>
          </div>
          <div class="card-content">
            <h3 class="card-title">Мстители: Новый мировой порядок</h3>
            <p class="card-meta">2024 • Фантастика</p>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock main_content %}