{% extends "main/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "main/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "main/css/base.css" %}">
  <link rel="stylesheet" href="{% static "main/css/items.css" %}">
  <link rel="stylesheet" href="{% static "main/css/user-avatar.css" %}">
{% endblock css %}

{% block script %}
  <script src="{% static "main/js/base.js" %}"></script>
  <script src="{% static "main/js/items.js" %}"></script>
{% endblock script %}

{% block header_nav %}
  {% include "main/partials/header_nav.html" %}
{% endblock header_nav %}

{% block sidebar_nav %}
  {% include "main/partials/header_nav.html" %}
{% endblock sidebar_nav %}

{% block auth_header_profile_url %}
  {% include "main/partials/auth_profile_url_block.html" %} 
{% endblock auth_header_profile_url %}

{% block not_auth_header_profile_url %}
  <a class="auth-btn" href="{% url "authPage" %}">Войти</a>
{% endblock not_auth_header_profile_url %}

{% block auth_sidebar_profile_url %}
  {% include "main/partials/auth_profile_url_block.html" %} 
{% endblock auth_sidebar_profile_url %}

{% block not_auth_sidebar_profile_url %}
  <a class="auth-btn" href="{% url "authPage" %}">Войти</a>
{% endblock not_auth_sidebar_profile_url %}

{% block main_content %}
  <div class="catalog-page">
    <!-- Фильтр -->
    {% if media_type == "films" %}
        {% include "main/partials/films_filter.html" with genres=genres %}
    {% elif media_type == "serials" %}
        {% include "main/partials/serials_filter.html" with genres=genres %}
    {% elif media_type == "actors" %}
        {% include "main/partials/actors_filter.html" with genres=genres %}
    {% endif %}

    <!-- Контент -->
    <div class="content-area">
      <div class="content-header">
        {% if media_type == "films" %}
        <h1 class="page-title">Фильмы</h1>
        {% elif media_type == "serials" %}
        <h1 class="page-title">Сериалы</h1>
        {% elif media_type == "actors" %}
        <h1 class="page-title">Актеры</h1>
        {% endif %}
        <div class="sort-options">
          <span class="sort-label">Сортировка:</span>
          {% if media_type != "actors" %}
            <select class="sort-select" id="sortSelect">
              <option value="popular">По популярности</option>
              <option value="rating">По рейтингу</option>
              <option value="release_date">По дате выхода</option>
              <option value="title">По названию</option>
            </select>
          {% else %}
            <select class="sort-select" id="sortSelect">
              <option value="popular">По популярности</option>
              <option value="rating">По рейтингу</option>
              <option value="release_date">По дате рождения</option>
              <option value="title">По имени</option>
            </select>
          {% endif %}
        </div>
      </div>

      <div class="movies-grid" id="moviesGrid">
        {% for item in items %}       
          <a href="{% url 'itemPage' media_type item.search_id %}">
            <div class="movie-card">
              <div class="movie-poster">
                {% if item.local_img_path == "" %}
                  {% if media_type != "actors" %}
                    <i class="fas fa-film"></i>
                  {% else %}
                    <i class="fas fa-star"></i>
                  {% endif %}
                {% else %}
                    <img src="{{item.local_img_path.url}}" alt="{{ film.title }}">
                {% endif %}
              </div>
              <div class="movie-info">
                {% if media_type != "actors" %}
                  <h3 class="movie-title">{{item.title}}</h3>
                {% else %}
                  <h3 class="movie-title">{{item.name}}</h3>
                {% endif %}
                <div class="movie-meta">
                  {% if media_type == "films" %}
                    <span>{{item.release_date|date:"Y"}}</span>
                  {% elif media_type == "serials" %}
                    <span>{{item.first_air_date|date:"Y"}}-{{item.last_air_date|date:"Y"}}</span>
                  {% elif media_type == "actors" %}
                    <span>{{item.birthday}}</span>
                  {% endif %}
                  {% if media_type != "actors" %}
                    <span class="movie-rating">
                      <i class="fas fa-star"></i>
                      {{item.rating|floatformat:1}}
                    </span>
                  {% endif %}
                </div>
                {% if media_type != "actors" %}
                 <div class="movie-genres">
                  {% for genre in item.genres.all %}
                    <span class="genre-tag">{{genre.name}}</span>
                  {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}

      </div>

              <div class="pagination">
          <button class="page-btn active">1</button>
          <button class="page-btn">2</button>
          <button class="page-btn">3</button>
        </div>
    </div>
  </div>
{% endblock main_content %}