{% extends "main/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "main/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "main/css/base.css" %}">
  <link rel="stylesheet" href="{% static "main/css/list.css" %}">
  <link rel="stylesheet" href="{% static "main/css/user-avatar.css" %}">
  <link rel="stylesheet" href="{% static "main/css/editor-form.css" %}">

{% endblock css %}

{% block script %}
  <script src="{% static "main/js/base.js" %}"></script>
  <script src="{% static "main/js/items.js" %}"></script>
{% endblock script %}

{% block header_nav %}
  {% include "main/partials/header_nav.html" %}
{% endblock header_nav %}

{% block sidebar_nav %}
  {% include "main/partials/header_nav.html" %}
{% endblock sidebar_nav %}

{% block auth_header_profile_url %}
  {% include "main/partials/auth_profile_url_block.html" %} 
{% endblock auth_header_profile_url %}

{% block not_auth_header_profile_url %}
  <a class="auth-btn" href="{% url "authPage" %}">Войти</a>
{% endblock not_auth_header_profile_url %}

{% block auth_sidebar_profile_url %}
  {% include "main/partials/auth_profile_url_block.html" %} 
{% endblock auth_sidebar_profile_url %}

{% block not_auth_sidebar_profile_url %}
  <a class="auth-btn" href="{% url "authPage" %}">Войти</a>
{% endblock not_auth_sidebar_profile_url %}

{% block main_content %}
  <div class="list-page">
      {% if user_is_author %}      
        <a href="{{ request.META.HTTP_REFERER }}" class="back-link">
          <i class="fas fa-arrow-left"></i>
          Назад к профилю
        </a>
      {% endif %}

      <!-- Заголовок списка -->
      <div class="list-header">
          <div class="list-title-section">
              <div>
                  <h1 class="list-title">{{user_list.title}}</h1>
                  {% if user_list.is_private %}
                    <div class="list-privacy">
                        <i class="fas fa-lock"></i>
                        <span>Приватный список</span>
                    </div>
                  {% else %}                  
                  <div class="list-privacy">
                      <i class="fas fa-lock-open"></i>
                      <span>Публичный список</span>
                  </div>
                  {% endif %}
              </div>
              {% if user_list.list_type == "favorite" %}
                <span class="list-type favorite">
                    <i class="fas fa-heart"></i>
                    Избранное
                </span>
              {% elif user_list.list_type == "watch_later" %}
                <span class="list-type watch_later">
                  <i class="fas fa-clock"></i>
                  Смотреть позже
                </span>
              {% elif user_list.list_type == "watched" %}
                <span class="list-type watched">
                    <i class="fas fa-check-circle"></i>
                    Просмотрено
                </span>
              {% else %}
                <span class="list-type custom">
                    <i class="fas fa-list"></i>
                    Пользовательский
                </span>
              {% endif %}
          </div>
          
          <p class="list-description">{{user_list.description}}</p>
          
          <div class="list-meta">
              <div class="meta-item">
                  <span class="meta-label">Автор списка</span>
                  <span class="meta-value">
                      <div class="author-avatar">
                        {% if author.avatar %}
                        <img src="{{ author.avatar.url }}" alt="Аватар" class="user-avatar" id="userAvatar">
                        {% else %}
                        <div class="avatar" id="userAvatar">{{ author.username|first|upper }}</div>
                        {% endif %}
                      </div>
                      {{author.username}}
                  </span>
              </div>
              <div class="meta-item">
                  <span class="meta-label">Дата создания</span>
                  <span class="meta-value">{{user_list.created_at|date}}</span>
              </div>
              <div class="meta-item">
                  <span class="meta-label">Последнее обновление</span>
                  <span class="meta-value">{{user_list.updated_at|date}}</span>
              </div>
              <div class="meta-item">
                  <span class="meta-label">Элементов в списке</span>
                  <span class="meta-value">{{items_count}}</span>
              </div>
          </div>
          <div class="list-actions">
              <button class="btn btn-secondary">
                  <i class="fas fa-share"></i>
                  Поделиться
              </button>
          </div>
      </div>

      {% if user_is_author %}
        <form action="{% url "edit_list" %}" method="post" class="add-list-form active">
          {% csrf_token %}
          <input type="hidden" class="form-input" name="list_id" value="{{user_list.id}}">
          <input type="text" class="form-input" placeholder="Название листа" name="list_name" value="{{user_list.title}}" required>
          <input type="text" class="form-input" placeholder="Описание листа" name="list_description" value="{{user_list.description}}">
          <select name="list_type" id="" class="sort-select">
            <option value="-" {% if user_list.list_type == "-" %}selected{% endif %}>Выберите тип листа</option>
            <option value="custom" {% if user_list.list_type == "custom" %}selected{% endif %}>Обычный список</option>
            <option value="watched" {% if user_list.list_type == "watched" %}selected{% endif %}>Просмотренные</option>
            <option value="watch_later" {% if user_list.list_type == "watch_later" %}selected{% endif %}>Смотреть позже</option>
            <option value="favorite" {% if user_list.list_type == "favorite" %}selected{% endif %}>Избранные</option>
          </select>
          <div class="checkbox-block">
            <input type="checkbox" name="list_is_private" {% if user_list.is_private %}checked{% endif %}>
            <label for="list_is_private">Сделать список приватным</label>
          </div>
          <button class="btn btn-primary">Редактировать</button>
        </form>
      {% endif %}

      <!-- Содержимое списка -->
      <div class="list-content">
          <div class="content-header">
              <h2 class="section-title">Элементы списка</h2>
              <span class="items-count">{{items_count}} элементов</span>
          </div>
          {% if items_count != 0 %}
            <div class="items-grid" id="itemsGrid">
                <!-- Фильм 1 -->
                {% for item in items %}
                  <a href="{% url 'itemPage' item.media_type item.content_object.search_id %}">
                    <div class="item-card">
                        {% if user_is_author %}                        
                          <form action="{% url "delete_item_from_list" %}" method="post">
                            {% csrf_token %}
                            <div class="remove-item">
                              <input type="hidden" name="content_type" value="{{ item.media_type}}">
                              <input type="hidden" name="object_id" value="{{ item.content_object.id }}">
                              <input type="hidden" name="list_id" value="{{ user_list.id }}">
                              <button type="submit" class="remove-button"></button> 
                              <i class="fas fa-times"></i>
                            </div>
                          </form>
                        {% endif %}
                        <div class="item-poster">
                          {% if item.content_object.local_img_path == "" %}
                            {% if item.content_type.model != "actor" %}
                              <i class="fas fa-film"></i>
                            {% else %}
                              <i class="fas fa-user fa-3x"></i>
                            {% endif %}
                          {% else %}
                            <img src="{{item.content_object.local_img_path.url}}" alt="">
                          {% endif %}
                        </div>
                        <div class="item-info">
                            <h3 class="item-title">
                              {% if item.content_type.model != "actor" %}
                              {{item.content_object.title}}
                              {% else %}
                              {{item.content_object.name}}
                              {% endif %}
                            </h3>
                            <div class="item-meta">
                                <span>
                                  {% if item.content_type.model == "film" %}
                                  {{item.content_object.release_date|date:"Y"}}
                                  {% elif item.content_type.model == "serial" %}
                                  {{item.content_object.first_air_date|date:"Y"}}
                                  -
                                  {{item.content_object.last_air_date|date:"Y"}}
                                  {% elif item.content_type.model == "actor" %}
                                  {{item.content_object.birthday}}
                                  {% endif %}
                                </span>
                                <span class="item-rating">
                                  {% if item.content_type.model != "actor" %}
                                  <i class="fas fa-star"></i>
                                  {{item.content_object.rating|floatformat:1}}
                                  {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                  </a>
                {% endfor %}
            </div>
          {% else %}
            <div class="empty-list" id="emptyList">
                <i class="fas fa-inbox"></i>
                <h3>Список пуст</h3>
                <p>Добавьте фильмы, сериалы или актеров в этот список</p>
            </div>
          {% endif %}
          
      </div>
  </div>
{% endblock main_content %}