{% extends "main/base.html" %}
{% load static %}
{% load class_name %}


{% block css %}
  <link rel="stylesheet" href="{% static "main/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "main/css/base.css" %}">
  <link rel="stylesheet" href="{% static "main/css/item.css" %}">
  <link rel="stylesheet" href="{% static "main/css/profile.css" %}">
  <link rel="stylesheet" href="{% static "main/css/user-avatar.css" %}">
{% endblock css %}

{% block script %}
  <script src="{% static "main/js/base.js" %}"></script>
  <script src="{% static "main/js/item.js" %}"></script>
  <script src="{% static "main/js/profile.js" %}"></script>
{% endblock script %}

{% block header_nav %}
  {% include "main/partials/header_nav.html" %}
{% endblock header_nav %}

{% block sidebar_nav %}
  {% include "main/partials/header_nav.html" %}
{% endblock sidebar_nav %}

{% block auth_header_profile_url %}
<a class="auth-btn" href="{% url "mainPage" %}">На главную</a>
{% endblock auth_header_profile_url %}


{% block auth_sidebar_profile_url %}
<a class="auth-btn" href="{% url "mainPage" %}">На главную</a>
{% endblock auth_sidebar_profile_url %}

{% block main_content %}
<div class="profile-page">
  <div class="profile-container">
    <!-- Боковая панель профиля -->
    <div class="profile-sidebar">
      <div class="profile-card">
        <div class="avatar-container">
          {% if user.avatar %}
          <img src="{{ user.avatar.url }}" alt="Аватар" class="avatar" id="userAvatar">
          {% else %}
          <div class="avatar" id="userAvatar">{{ user.username|first|upper }}</div>
          {% endif %}

          <form action="{% url 'add_avatar' %}" method="post" enctype="multipart/form-data" id="avatarForm">
            {% csrf_token %}
            <div class="avatar-edit">
              <label for="avatarInput">
                <i class="fas fa-camera"></i>
              </label>
              <input type="file" id="avatarInput" name="avatar" accept="image/*" style="display: none;">
            </div>
          </form>
        </div>
        <h2 class="profile-name" id="userName">{{username}}</h2>

        <div class="profile-stats">
          <div class="stat">
            <div class="stat-value" id="favoritesCount">{{favorites_count}}</div>
            <div class="stat-label">В избранном</div>
          </div>
          <div class="stat">
            <div class="stat-value" id="reviewsCount">{{ratings_count}}</div>
            <div class="stat-label">Оценок</div>
          </div>
          <div class="stat">
            <div class="stat-value" id="reviewsCount">{{comments_count}}</div>
            <div class="stat-label">Комментариев</div>
          </div>
          <div class="stat">
            <div class="stat-value" id="activityDays">{{days}}</div>
            <div class="stat-label">Дней с нами</div>
          </div>
        </div>
      </div>
      <a href="{% url "signOut" %}">
        <button class="btn btn-primary" id="signOut">
          <i class="fa-solid fa-door-open"></i>
          Выйти из аккаунта
        </button>
      </a>
    </div>

    <!-- Основное содержимое профиля -->
    <div class="profile-content">
      <form action="{% url "update_user_info" %}" method="post">
        {% csrf_token %}
        <div class="edit-form">
          <h3 class="section-title">Профиль</h3>

          <div class="form-group">
            <label class="form-label" for="username">Никнейм</label>
            <input name="username" type="text" id="username" class="form-input" value="{{username_value}}">
          </div>

          <div class="form-group">
            <label class="form-label" for="bio">О себе</label>
            <textarea name="description" id="bio" class="form-input" rows="4"
              placeholder="Расскажите о себе...">{% if description_value %}{{description_value}}{% endif %}</textarea>
          </div>

          {% if error_messages|length != 0 %}
            {% for message in error_messages %}
            <div class="form-group">
              {{message}}
            </div>
            {% endfor %}
          {% endif %}

          <div class="form-actions">
            <button class="btn btn-primary" id="saveChangesBtn">
              <i class="fas fa-save"></i>
              Сохранить изменения
            </button>
          </div>
        </div>
      </form>

      <div class="favorites-section">
        <div class="section-title-block">
          <h3 class="section-title">Мои листы</h3>
          <button class="circle-button" id="add-list-button"></button>
        </div>
        <form action="{% url "add_list" %}" method="post" class="add-list-form">
          {% csrf_token %}
          <input type="text" class="form-input" placeholder="Название листа" name="list_name" required>
          <input type="text" class="form-input" placeholder="Описание листа" name="list_description">
            <select name="list_type" id="" class="sort-select">
              <option value="-">Выберите тип листа</option>
              <option value="custom">Обычный список</option>
              <option value="watched">Просмотренные</option>
              <option value="watch_later">Смотреть позже</option>
              <option value="favorite">Избранные</option>
            </select>
          <div class="checkbox-block">
            <input type="checkbox" name="list_is_private">
            <label for="list_is_private">Сделать список приватным</label>
          </div>
          <button class="btn btn-primary">Добавить</button>
        </form>
        <div class="user-lists-section">            
            <div class="lists-grid" id="listsGrid">
                {% for user_list in user_lists %}
                  <a href="{% url "listPage" %}">
                    <div class="list-card">
                        <div class="list-header">
                            <div>
                                <h4 class="list-title">{{user_list.title}}</h4>
                                <div class="list-privacy">
                                  {% if user_list.is_private %}
                                    <i class="fas fa-lock"></i>
                                  {% else %}
                                    <i class="fas fa-lock-open"></i>
                                  {% endif %}
                                </div>
                            </div>
                        </div>
                        <p class="list-description">{{user_list.description}}</p>
                        <div class="list-meta">
                          {% if user_list.list_type == "favorite" %}
                            <span class="list-type favorite">
                                <i class="fas fa-heart"></i>
                                Избранное
                            </span>
                          {% elif user_list.list_type == "watch_later" %}
                            <span class="list-type watch_later">
                              <i class="fas fa-clock"></i>
                              Смотреть позже
                            </span>
                          {% elif user_list.list_type == "watched" %}
                            <span class="list-type watched">
                                <i class="fas fa-check-circle"></i>
                                Просмотрено
                            </span>
                          {% else %}
                            <span class="list-type custom">
                                <i class="fas fa-list"></i>
                                Пользовательский
                            </span>
                          {% endif %}
                            <span class="list-date">{{user_list.created_at|date}}</span>
                        </div>
                        <div class="list-actions">
                            <button class="btn btn-secondary btn-small">
                                <i class="fas fa-edit"></i>
                                Редактировать
                            </button>
                            <form action="{% url "delete_list" %}" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="list_id" value="{{user_list.id}}">
                              <button class="btn btn-secondary btn-small">
                                  <i class="fas fa-trash"></i>
                              </button>
                            </form>
                        </div>
                    </div>
                  </a>
                {% empty %}                  
                  <div class="empty-lists" id="emptyLists">
                      <i class="fas fa-list"></i>
                      <h3>У вас пока нет списков</h3>
                      <p>Создайте свой первый список, чтобы организовать любимые фильмы и сериалы</p>
                  </div>
                {% endfor %}
            </div>
        </div>

        {% if favorites_count != 0 %}
        <h3 class="section-title">Мое избранное</h3>

        <div class="favorites-grid" id="favoritesGrid">
          {% for item in favorites %}
          <a href="{% url "itemPage" item.content_type.model item.content_object.search_id %}">
            <div class="movie-card">
              <form action="{% url 'remove_from_favorite' %}" method="post" id="favoriteForm">
                <div class="remove-favorite">
                  {% csrf_token %}
                  <input type="hidden" name="content_type" value="{{ item.content_type.model}}">
                  <input type="hidden" name="object_id" value="{{ item.content_object.id }}">

                  <button type="submit" class="remove-button"></button>
                  <i class="fas fa-times"></i>
                </div>
              </form>
              <div class="movie-poster">
                {% if item.content_object.local_img_path == "" %}
                {% if item.content_type.model != "actor" %}
                <i class="fas fa-film"></i>
                {% else %}
                <i class="fas fa-user fa-3x"></i>
                {% endif %}
                {% else %}
                <img src="{{item.content_object.local_img_path.url}}" alt="">
                {% endif %}
              </div>
              <div class="movie-info">
                <h3 class="movie-title1">
                  {% if item.content_type.model != "actor" %}
                  {{item.content_object.title}}
                  {% else %}
                  {{item.content_object.name}}
                  {% endif %}
                </h3>
                <div class="movie-meta">
                  <span>
                    {% if item.content_type.model == "film" %}
                    {{item.content_object.release_date|date:"Y"}}
                    {% elif item.content_type.model == "serial" %}
                    {{item.content_object.first_air_date|date:"Y"}}
                    -
                    {{item.content_object.last_air_date|date:"Y"}}
                    {% elif item.content_type.model == "actor" %}
                    {{item.content_object.birthday}}
                    {% endif %}
                  </span>
                  <span class="movie-rating">
                    {% if item.content_type.model != "actor" %}
                    <i class="fas fa-star"></i>
                    {{item.content_object.rating|floatformat:1}}
                    {% endif %}
                  </span>
                </div>
              </div>
            </div>
          </a>

          {% endfor %}

        </div>

        {% endif %}        

        {% if comments_count != 0 %}
          <h3 class="section-title">Мои комментарии</h3>

          <div class="comments-list" id="commentsList">
            {% for comment in comments %}
            <a href="{% url "itemPage" comment.content_type.model comment.content_object.search_id %}">
              <div class="comment-card">
                <div class="comment-header">
                  <div class="comment-user">
                    {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="Аватар" class="user-avatar" id="userAvatar">
                    {% else %}
                    <div class="user-avatar" id="userAvatar">{{ user.username|first|upper }}</div>
                    {% endif %}
                    <div class="user-info">
                      <div class="user-name">
                        {{ comment.user.username }}
                          / 
                        {% if comment.content_type.model == "actor" %}
                          актер
                        {% elif comment.content_type.model == "serial" %}
                          сериал
                        {% elif comment.content_type.model == "film" %}
                          фильм
                        {% endif %}
                          
                        {% if comment.content_type.model != "actor" %}
                          {{comment.content_object.title}}
                        {% else %}
                          {{comment.content_object.name}}
                        {% endif %}
                      </div>
                      <div class="comment-date">
                        {% now "Y-m-d" as today %}
                        {% with comment_date=comment.writing_date.date %}
                        {% if comment_date == today %}
                        Сегодня
                        {% elif comment_date == today|date:"Y-m-d"|add:"-1 day" %}
                        Вчера
                        {% else %}
                        {{ comment.writing_date|timesince }} назад
                        {% endif %}
                        {% endwith %}
                      </div>
                    </div>
                  </div>
                  {% if comment.rating %}
                  <div class="comment-rating">
                    <i class="fas fa-star"></i>
                    <span>{{ comment.rating }}</span>
                  </div>
                  {% endif %}
                </div>
                <div class="comment-content">
                  {{ comment.text }}
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock main_content %}