{% extends "main/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "main/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "main/css/base.css" %}">
  <link rel="stylesheet" href="{% static "main/css/auth.css" %}">
{% endblock css %}

{% block script %}
  <script src="{% static "main/js/base.js" %}"></script>
  <script src="{% static "main/js/reg.js" %}"></script>
{% endblock script %}

{% block header_nav %}
  <nav>
    <ul>
      <li><a href="{% url "mainPage" %}">Главная</a></li>
      <li><a href="{% url "filmsPage" %}">Фильмы</a></li>
      <li><a href="{% url "serialsPage" %}">Сериалы</a></li>
      <li><a href="{% url "actorsPage" %}">Актеры</a></li>
      {% if request.user.is_superuser %}
      <li><a href="{% url "adminPanel" %}">Админ панель</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock header_nav %}

{% block sidebar_nav %}
  <nav>
    <ul>
      <li><a href="{% url "mainPage" %}">Главная</a></li>
      <li><a href="{% url "filmsPage" %}">Фильмы</a></li>
      <li><a href="{% url "serialsPage" %}">Сериалы</a></li>
      <li><a href="{% url "actorsPage" %}">Актеры</a></li>
      {% if request.user.is_superuser %}
      <li><a href="{% url "adminPanel" %}">Админ панель</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock sidebar_nav %}

{% block auth_header_profile_url %}
  <a href="{% url "profilePage" %}">
    <div class="profile-block">
      <span>{{username}}</span>
      <div class="profile-icon">
        <i class="fa-solid fa-circle-user"></i>
      </div>
    </div>
  </a>
{% endblock auth_header_profile_url %}

{% block not_auth_header_profile_url %}
  <a class="auth-btn" href="{% url "mainPage" %}">На главную</a>
{% endblock not_auth_header_profile_url %}

{% block auth_sidebar_profile_url %}
  <a href="{% url "profilePage" %}">
    <div class="profile-block">
      <span>{{username}}</span>
      <div class="profile-icon">
        <i class="fa-solid fa-circle-user"></i>
      </div>
    </div>
  </a>
{% endblock auth_sidebar_profile_url %}

{% block not_auth_sidebar_profile_url %}
  <a class="auth-btn" href="{% url "mainPage" %}">На главную</a>
{% endblock not_auth_sidebar_profile_url %}

{% block main_content %}
  <div class="auth-container">
      <div class="auth-card">
          <div class="auth-header">
              {% if message == "exist" %}
                <p class="auth-subtitle">Пользователь с таким именем({{error_username}}) уже существует</p>
              {% endif %}
              <p class="auth-subtitle password-error"></p>
              <p class="auth-subtitle username-error">Никнейм не подходит</p>
              <h1 class="auth-title">Создание аккаунта</h1>
              <p class="auth-subtitle">Введите свои данные для регистрации</p>
          </div>
          
          <form class="auth-form" id="regForm" action="{% url 'regPage' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                  <p class="form-label">Никнейм(от 5 до 15 символов)</p>
                  <input name="username" type="text" id="usernameInput" class="form-input" placeholder="User13920" autocomplete="off" required>
              </div>

              <div class="form-group">
                  <label for="email" class="form-label">Электронная почта</label>
                  <input name="email" type="email" id="email" class="form-input" placeholder="example@mail.com" required>
              </div>
              
              <div class="form-group">
                  <label for="password" class="form-label" id="passwordRating">Пароль</label>
                  <div class="password-container">
                      <input 
                      title="Пароль должен состоять из больших и маленьких букв, цифр и иметь длину не менее 8 символов" 
                      name="password" 
                      type="password" 
                      id="password" 
                      class="form-input" 
                      placeholder="Введите пароль"
                      autocomplete="off"
                      required>
                      <button type="button" class="toggle-password" id="togglePassword">
                          <i class="far fa-eye"></i>
                      </button>
                  </div>
              </div>

              <div class="form-group">
                  <label for="confirm-password" class="form-label">Подтвердите пароль</label>
                  <div class="password-container">
                      <input type="password" id="confirm-password" class="form-input" placeholder="Подтвердите пароль" autocomplete="off" required>
                      <button type="button" class="toggle-password" id="toggleConfirmPassword">
                          <i class="far fa-eye"></i>
                      </button>
                  </div>
              </div>

              <button type="submit" id="submit-btn" class="submit-btn">Зарегистрироваться</button>
          </form>
          
          <div class="auth-footer">
              <p>Есть аккаунт? <a href="{% url "authPage" %}">Войти</a></p>
          </div>
      </div>
  </div>
{% endblock main_content %}