{% extends "main/base.html" %}
{% load static %}
{% load class_name %}


{% block css %}
  <link rel="stylesheet" href="{% static "main/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "main/css/base.css" %}">
  <link rel="stylesheet" href="{% static "main/css/item.css" %}">
  <link rel="stylesheet" href="{% static "main/css/profile.css" %}">
  <link rel="stylesheet" href="{% static "main/css/user-avatar.css" %}">
{% endblock css %}

{% block script %}
  <script src="{% static "main/js/base.js" %}"></script>
  <script src="{% static "main/js/item.js" %}"></script>
  <script src="{% static "main/js/profile.js" %}"></script>
{% endblock script %}

{% block header_nav %}
  {% include "main/partials/header_nav.html" %}
{% endblock header_nav %}

{% block sidebar_nav %}
  {% include "main/partials/header_nav.html" %}
{% endblock sidebar_nav %}

{% block auth_header_profile_url %}
  {% include "main/partials/auth_profile_url_block.html" %} 
{% endblock auth_header_profile_url %}

{% block not_auth_header_profile_url %}
  <a class="auth-btn" href="{% url "authPage" %}">Войти</a>
{% endblock not_auth_header_profile_url %}

{% block auth_sidebar_profile_url %}
  {% include "main/partials/auth_profile_url_block.html" %} 
{% endblock auth_sidebar_profile_url %}

{% block not_auth_sidebar_profile_url %}
  <a class="auth-btn" href="{% url "authPage" %}">Войти</a>
{% endblock not_auth_sidebar_profile_url %}

{% block main_content %}
<div class="profile-page">
  <div class="profile-container">
    <!-- Боковая панель профиля -->
    <div class="profile-sidebar">
      <div class="profile-card">
        <div class="avatar-container">
          {% if avatar_url %}
          <img src="{{ avatar_url }}" alt="Аватар" class="avatar" id="userAvatar">
          {% else %}
          <div class="avatar" id="userAvatar">{{ username|first|upper }}</div>
          {% endif %}
        </div>
        <h2 class="profile-name" id="userName">{{username}}</h2>

        <div class="profile-stats">
          <div class="stat">
            <div class="stat-value" id="favoritesCount">{{favorites_count}}</div>
            <div class="stat-label">В избранном</div>
          </div>
          <div class="stat">
            <div class="stat-value" id="reviewsCount">{{ratings_count}}</div>
            <div class="stat-label">Оценок</div>
          </div>
          <div class="stat">
            <div class="stat-value" id="reviewsCount">{{comments_count}}</div>
            <div class="stat-label">Комментариев</div>
          </div>
          <div class="stat">
            <div class="stat-value" id="activityDays">{{days}}</div>
            <div class="stat-label">Дней с нами</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Основное содержимое профиля -->
    <div class="profile-content">
      <div class="edit-form">
        <h3 class="section-title">Профиль</h3>

        <div class="form-group">
          <label class="form-label" for="bio">О себе</label>
          <p class="user-info-block">
            {% if description_value %}{{description_value}}{% endif %}
          </p>
        </div>
      </div>


      <div class="favorites-section">
        {% if user_lists_count != 0 %}
          <div class="section-title-block">
            <h3 class="section-title">Мои листы</h3>
            <button class="circle-button" id="add-list-button"></button>
          </div>
          <div class="user-lists-section">            
            <div class="lists-grid" id="listsGrid">
                {% for user_list in user_lists %}
                  <div class="list-card">
                      <div class="list-header">
                          <div>
                              <h4 class="list-title">{{user_list.title}}</h4>
                          </div>
                      </div>
                      <p class="list-description">{{user_list.description}}</p>
                      <div class="list-meta">
                        {% if user_list.list_type == "favorite" %}
                          <span class="list-type favorite">
                              <i class="fas fa-heart"></i>
                              Избранное
                          </span>
                        {% elif user_list.list_type == "watch_later" %}
                          <span class="list-type watch_later">
                            <i class="fas fa-clock"></i>
                            Смотреть позже
                          </span>
                        {% elif user_list.list_type == "watched" %}
                          <span class="list-type watched">
                              <i class="fas fa-check-circle"></i>
                              Просмотрено
                          </span>
                        {% else %}
                          <span class="list-type custom">
                              <i class="fas fa-list"></i>
                              Пользовательский
                          </span>
                        {% endif %}
                          <span class="list-date">{{user_list.created_at|date}}</span>
                      </div>
                  </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if favorites_count != 0 %}
        <h3 class="section-title">Мое избранное</h3>

        <div class="favorites-grid" id="favoritesGrid">
          {% for item in favorites %}
          <a href="{% url "itemPage" item.content_type.model item.content_object.search_id %}">
            <div class="movie-card">
              <div class="movie-poster">
                {% if item.content_object.local_img_path == "" %}
                  {% if item.content_type.model != "actor" %}
                  <i class="fas fa-film"></i>
                  {% else %}
                  <i class="fas fa-user fa-3x"></i>
                  {% endif %}
                {% else %}
                <img src="{{item.content_object.local_img_path.url}}" alt="">
                {% endif %}
              </div>
              <div class="movie-info">
                <h3 class="movie-title1">
                  {% if item.content_type.model != "actor" %}
                  {{item.content_object.title}}
                  {% else %}
                  {{item.content_object.name}}
                  {% endif %}
                </h3>
                <div class="movie-meta">
                  <span>
                    {% if item.content_type.model == "film" %}
                    {{item.content_object.release_date|date:"Y"}}
                    {% elif item.content_type.model == "serial" %}
                    {{item.content_object.first_air_date|date:"Y"}}
                    -
                    {{item.content_object.last_air_date|date:"Y"}}
                    {% elif item.content_type.model == "actor" %}
                    {{item.content_object.birthday}}
                    {% endif %}
                  </span>
                  <span class="movie-rating">
                    {% if item.content_type.model != "actor" %}
                    <i class="fas fa-star"></i>
                    {{item.content_object.rating|floatformat:1}}
                    {% endif %}
                  </span>
                </div>
              </div>
            </div>
          </a>

          {% endfor %}

        </div>

        {% endif %}

        {% if comments_count != 0 %}
        <h3 class="section-title">Мои комментарии</h3>

        <div class="comments-list" id="commentsList">
          {% for comment in comments %}
          <a href="{% url "itemPage" comment.content_type.model comment.content_object.search_id %}">
            <div class="comment-card">
              <div class="comment-header">
                <div class="comment-user">
                  {% if avatar_url %}
                  <img src="{{ avatar_url }}" alt="Аватар" class="user-avatar" id="userAvatar">
                  {% else %}
                  <div class="user-avatar" id="userAvatar">{{ user.username|first|upper }}</div>
                  {% endif %}
                  <div class="user-info">
                    <div class="user-name">
                      {{ comment.user.username }}
                        / 
                      {% if comment.content_type.model == "actor" %}
                        актер
                      {% elif comment.content_type.model == "serial" %}
                        сериал
                      {% elif comment.content_type.model == "film" %}
                        фильм
                      {% endif %}
                        
                      {% if comment.content_type.model != "actor" %}
                        {{comment.content_object.title}}
                      {% else %}
                        {{comment.content_object.name}}
                      {% endif %}
                    </div>
                    <div class="comment-date">
                      {% now "Y-m-d" as today %}
                      {% with comment_date=comment.writing_date.date %}
                      {% if comment_date == today %}
                      Сегодня
                      {% elif comment_date == today|date:"Y-m-d"|add:"-1 day" %}
                      Вчера
                      {% else %}
                      {{ comment.writing_date|timesince }} назад
                      {% endif %}
                      {% endwith %}
                    </div>
                  </div>
                </div>
                {% if comment.rating %}
                <div class="comment-rating">
                  <i class="fas fa-star"></i>
                  <span>{{ comment.rating }}</span>
                </div>
                {% endif %}
              </div>
              <div class="comment-content">
                {{ comment.text }}
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock main_content %}