* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
}

h1 {
    text-align: center;
}

form {
    width: 100%;
}
.films_container {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.films_container h1 {
    margin-bottom: 10px;
}

.film_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.film_block span {
    display: block;
    margin-bottom: 10px;
}

.film_block button {
    background-color: lightgray;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid grey;
    transition: .3s all;
}

.film_block button:hover {
    background-color: grey;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05);
    padding: 10px;
}

.admin_container {
    flex: 1;
    padding-left: 50px;
}

.admin_container .parse_films_block form {
    width: 100%;
}

.admin_container .parse_films_block {
    width: 50%;
}


.admin_container .parse_films_block .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.admin_container .parse_films_block .content p>input {
    margin-right: 6px;
}