@import url(fonts.css);

:root {
    --color1: #e0e2db;
    --color2: #d2d4c8;
    --color3: #b8bdb5;
    --color4: #889696;
    --color5: #5f7470;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color4);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    width: 100%;
    height: fit-content;
    background-color: var(--color1);
}

header {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    position: fixed;
    background-color: var(--color2);
    z-index: 2;
}

main {
    padding-top: 100px;
}

.invisible_block {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
}

.media_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;
}


.title_block {
    font-size: 48px;
    margin-bottom: 24px;
}

.media_container .buttons_block {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.media_container .media_items_block {
    background-color: var(--color2);
    border-radius: 20px;
    overflow: hidden;
}

.media_container .media_items_content {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 10px 0;
    gap: 15px;
    background-color: var(--color2);
    padding: 10px;
    color: rgb(41, 41, 41);
    scroll-behavior: smooth;
    min-height: 110px;
}

.media_container .media_items_content .media_block{
    flex: 0 0 auto;
    min-width: fit-content;   
    display: flex;
    background-color: var(--color3);
    border-radius: 8px;
    padding: 10px;
    gap: 8px;
    box-shadow: 3px 4px 8px 0px #939191;
}

.media_container .media_items_content .media_block .media_info{
    display: flex;
    flex-direction: column;
}

.media_container .media_items_content .media_block .media_actions input {
    width: 16px;
    aspect-ratio: 1 / 1;
    background-color: black;
    border: 0;
    cursor: pointer;
}

.admin_container {
    padding: 20px;
    width: 100%;
    display: flex;
}

.admin_container .block {
    width: 60%;
}

.parse_media_items_block form {
    margin-bottom: 36px;
}

.admin_container .parse_media_items_block .content {
    display: flex;
    flex-direction: column;
}

.parse_media_items_block .input_block {
    background-color: var(--color3);
    padding-left: 6px;
    border-radius: 12px;
    margin-bottom: 12px;
    height: 30px;
    display: flex;
    align-items: center;
    width: 450px;
    justify-content: space-between;
    transition: all 0.3s;
}

.parse_media_items_block .input_block label {
    color: rgb(41, 41, 41);
    font-weight: 600;
}

.parse_media_items_block .input_block.text_type {
    overflow: hidden;
}

.parse_media_items_block .input_block.text_type input {
    border: 0;
    background-color: var(--color2);
    outline: 0;
    color: rgb(41, 41, 41);
    border-radius: 12px;
    height: 100%;
    width: 0;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 18px;
}

.parse_media_items_block .input_block.text_type input.active {
    width: 100px;
    padding: 4px;
    padding-inline: 16px;
}

.parse_media_items_block .input_block.text_type:hover input {
    width: 100px;
    padding: 4px;
    padding-inline: 16px;
}

.parse_media_items_block .input_block.text_type input:focus {
    width: 100px;
    padding: 4px;
    padding-inline: 16px;
}

.parse_media_items_block .input_block.disabled {
    opacity: .6;
    pointer-events: none;
}

.custom_checkbox {
    height: 100%;
    aspect-ratio: 1 / 1;
    transform: translateX(2px);
}

.custom_checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox_visual {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkbox_visual i {
  color: black;
  font-size: 12px;
  transition: color 0.3s ease;
}

.custom_checkbox input[type="checkbox"]:checked + .checkbox_visual {
  background-color: #4CAF50;
  border-color: #4CAF50;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
}

.custom_checkbox input[type="checkbox"]:checked + .checkbox_visual i {
  color: white;
}

.custom_checkbox input[type="checkbox"] + .checkbox_visual {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

.checkbox_visual:hover {
    background-color: var(--color4);
}

.custom_button {
    background-color: var(--color3);
    position: relative;
    border: 0;
    border-radius: 12px;
    padding: 10px 16px;
    color: rgb(41, 41, 41);
    transition: all .3s;
    cursor: pointer;
    width: 450px;
    font-weight: bold;
    font-size: 16px;
    z-index: 1; 
    overflow: hidden; 
}

.custom_button::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #38b87d;
    right: 0;
    top: 0;
    transition: .3s all;
    border-radius: 12px;
    z-index: -1; 
}

.custom_button:hover {
    color: whitesmoke; 
}

.custom_button:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}
.continue_button::before {
    background-color: #38b87d;
}

.delete_button {
    padding: 10px 16px;
    width: fit-content;
}

.delete_button::before {
    background-color: #da2d29;
}

.delete_messages_button::before {
    background-color: #2493FF;
}

.messages_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.messages_type {
    margin-top: 20px;
    background-color: var(--color2);
    overflow: hidden;
    border-radius: 20px;
    width: 450px;
    display: flex;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.messages_type .message_type_block {
    display: flex;
    background-color: var(--color3);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 3px 4px 8px 0px #939191;
    box-sizing: border-box;
    align-items: center;
    gap: 6px;
    flex: 1;
    justify-content: center;
}

.messages_block {
    margin-top: 20px;
    background-color: var(--color2);
    overflow: hidden;
    border-radius: 20px;
    width: 450px;
}

.messages_container .messages_content {
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow-y: scroll;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

.message_block {
    background-color: var(--color3);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 3px 4px 8px 0px #939191;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.message_block p {
    text-align: center;
    align-items: center;
}

.message_border {
    width: 100%;
    border-bottom: 1px solid var(--color4);
    margin: 4px 0;
}

.message_block .main_info {
    display: flex;
    justify-content: space-between;
}

.message_block .main_info .text_info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 6px;
}

.icon_info.success i {
    color: #4CAF50;
}

.icon_info.error i {
    color: #da2d29;
}

.icon_info.warning i {
    color: #FFD43B;
}

.message_block .text {
    word-break: break-all;
    box-sizing: border-box;
    text-align: left;
}

.message_block .other_info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 6px;
}

.message_block .other_info div {
    text-align: left;
}